{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'video-upload',
  'media--preview',
  'clearfix',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="media--preview__image-block col-xs-12 col-sm-6 no-padding">
    <div class="media--preview__type-text">{{ 'Video'|t }}</div>
      {% if content.field_video_upload_preview|field_value %}
        <a href="{{ video_url }}"><div class="video-upload__video teaser-image"{{ content.field_video_upload_preview|quickedit_attr }}>{{ content.field_video_upload_preview|field_value }}</div></a>
      {% else %}
        <a href="{{ video_url }}"><div class="media--preview__dummy"></div></a>
      {%  endif %}
    <a href="{{ video_url }}">
      <div class="media--preview__info">
        <div class="media--preview__ico"><i class="fa fa-play" aria-hidden="true"></i></div>
        <div class="media--preview__linktext">Zum Video</div>
      </div>
    </a>
  </div>
  <div class="media--preview__text-block col-xs-12 col-sm-6">
    <a href="{{ video_url }}">
    <div class="video__date">{{ created|date("d.m.Y") }}</div>
    <h2 class=""{{ content.field_title|quickedit_attr }}>{{ content.field_title|field_value }}</h2>
    {% if content.field_description|field_value %}
      {% set text = content.field_description|render|striptags %}
      <div class="media--preview__description"{{ content.field_description|quickedit_attr }}>{% spaceless %}{{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}{% endspaceless %}</div>
    {% endif %}
    </a>
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
  </div>
</article>
