{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set media_classes = [
  'audio',
  'media--preview',
  'clearfix',
  'col-lg-9',
]
%}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="media--preview__image-block col-xs-12 col-sm-8 no-padding">
    <div class="media--preview__type-text">{{ 'Audio'|t }}</div>
      {% if content.field_audio_preview|field_value %}
        <a href="{{ audio_url }}"><div class="audio__image teaser-image">{{ content.field_audio_preview|field_value }}</div></a>
      {% else %}
        <a href="{{ audio_url }}"><div class="media--preview__dummy"></div></a>
      {% endif %}
    <a href="{{ audio_url }}">
      <div class="media--preview__info">
        <div class="media--preview__ico"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
        <div class="media--preview__linktext">Zum Audio</div>
      </div>
    </a>
  </div>
  <div class="media--preview__text-block col-xs-12 col-sm-4">
    <a href="{{ audio_url }}">
      {% if content.field_image_date|field_value %}
        <div class="audio__date"{{ content.field_audio_date|quickedit_attr }}>{{ content.field_audio_date|field_value }}</div>
      {% else %}
        <div class="audio__date">{{ created|date("d.m.Y") }}</div>
      {% endif %}
      {% set title = content.field_title|field_value %}
      <h2 class=""{{ content.field_title|quickedit_attr }}>{% spaceless %}{{- title|length > 40 ? title|slice(0, 40) ~ '...' : title -}}{% endspaceless %}</h2>
    </a>
    <a href="{{ audio_url }}">
      {% if content.field_description|field_value %}
        {% set text = content.field_description|render|striptags %}
        <div class="media--preview__description">{% spaceless %}{{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}{% endspaceless %}</div>
      {% endif %}
    </a>
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}

  </div>
</article>
